* {
  box-sizing: border-box;
}

ul li div{
  display: flex;
  align-items: center;
}

.delete-task-btn {
  background-color: #d00;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
}

.add-task-btn {
  background-color: rgb(62, 175, 39);
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
}